# Ignore all __pycache__ directories
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore the virtual environment
venv/
.DS_Store

# Ignore logs or output files
# output_*.txt
